<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            minWidth: {
              "500px": "500px",
            },
          },
        },
      };
    </script>
    <title>Image Uploader</title>
  </head>
  <body
    style="background-color: #242424; font-family: 'Roboto', sans-serif"
    class="text-white"
  >
    <div class="flex justify-center items-center h-screen">
      <div class="mt-10 min-w-500px text-center">
        <div class="flex justify-center items-center mb-1">
          <h1 class="text-4xl font-bold">Image Uploader</h1>
          <span class="h-8 w-8 ml-2">🖼️</span>
        </div>
        <p class="mb-7 text-gray-300 text-md">It's really simple.</p>
        <form
          id="submit"
          action="/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="file"
            id="file"
            placeholder=""
            required
            hidden
          />
          <label
            class="mr-1 bg-gray-300 p-3 rounded-lg cursor-pointer text-black"
            for="file"
            id="fileLabel"
            >Choose file</label
          >
        </form>
        <div class="absolute bottom-0 left-0 p-2 w-full">
          <a href="https://github.com/vascyt/image-uploader" target="_blank"
            ><img src="/github.svg" class="h-6 w-6 opacity-75 float-right"
          /></a>
        </div>
        <script>
          twemoji.parse(document.body);
          $("#file").change(() => {
            $("form").submit();
          });
        </script>
      </div>
    </div>
  </body>
</html>
