<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Image Uploader</title>
  </head>
  <body
    style="background-color: #242424; font-family: 'Roboto', sans-serif"
    class="text-white"
  >
    <div class="flex justify-center items-center h-screen w-screen">
      <div class="text-center">
        <h1 class="text-3xl font-bold mt-5"><%= message %></h1>
        <a href="/">Back</a>
      </div>
    </div>
  </body>
</html>
